*.sw?
.direnv
.gopath
.env
/.envrc
/direnv
/direnv.test
/dist
/test/config
/test/data
/test/scenarios/inherited/.envrc

# for context: https://github.com/Homebrew/homebrew-bundle/pull/552
Brewfile.lock.json

nodesmith
