apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: nodesmithproviders.kubenodesmith.parawell.cloud
spec:
  group: kubenodesmith.parawell.cloud
  scope: Namespaced
  names:
    plural: nodesmithproviders
    singular: nodesmithprovider
    kind: NodeSmithProvider
    shortNames:
      - nsp
  versions:
    - name: v1alpha1
      served: true
      storage: true
      additionalPrinterColumns:
        - name: Type
          type: string
          jsonPath: .spec.type
        - name: Endpoint
          type: string
          jsonPath: .spec.proxmox.endpoint
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - type
                - credentialsSecretRef
              properties:
                type:
                  type: string
                credentialsSecretRef:
                  type: object
                  required:
                    - name
                    - namespace
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                proxmox:
                  type: object
                  properties:
                    endpoint:
                      type: string
                    nodeWhitelist:
                      type: array
                      items:
                        type: string
                    vmIDRange:
                      type: object
                      properties:
                        lower:
                          type: integer
                          format: int64
                        upper:
                          type: integer
                          format: int64
                    managedNodeTag:
                      type: string
                    vmMemOverheadMiB:
                      type: integer
                      format: int64
                    networkInterfaces:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          model:
                            type: string
                          bridge:
                            type: string
                          vlanTag:
                            type: integer
                            format: int32
                          macPrefix:
                            type: string
                    vmOptions:
                      type: array
                      items:
                        type: object
                        required:
                          - name
                        properties:
                          name:
                            type: string
                          value:
                            x-kubernetes-preserve-unknown-fields: true
                additionalSettings:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
                  format: int64
                conditions:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - status
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                      lastTransitionTime:
                        type: string
                        format: date-time
