schemaVersion: v1alpha1

pollingInterval: 30s

providers:
  proxmox-production:
    type: proxmox
    credentialsRef:
      name: proxmox-api-secret
      namespace: kubenodesmith
    options:
      endpoint: https://10.0.4.30:8006/api2/json
      nodeWhitelist:
        - alfaromeo
        - porsche
      vmIDRange:
        lower: 1250
        upper: 1300
      managedNodeTag: kubenodesmith-managed
      vmMemOverheadMiB: 2048
      networkInterfaces:
        - name: net0
          model: virtio
          bridge: vmbr0
          vlanTag: 20
          macPrefix: "02:00:00"
      vmOptions:
        - name: sockets
          value: 1
        - name: cpu
          value: host
        - name: boot
          value: order=net0
        - name: ostype
          value: l26
        - name: ipconfig0
          value: ip=dhcp
        - name: ide2
          value: local-zfs:cloudinit
        - name: scsi0
          value: local-zfs:16
        - name: cicustom
          value: meta=snippets:snippets/zagato-shared-cloud-init-meta-data.yaml

nodePools:
  - name: proxmox-small
    providerRef: proxmox-production
    # poolLabelKey: "topology.kubenodesmith.io/pool"  # Optional: defaults to this value
    limits:
      minNodes: 0
      maxNodes: 5
      cpuCores: 0 # Unlimited
      memoryMiB: 30720
    machineTemplate:
      kubeNodeNamePrefix: zagato-worker-auto
      architecture: amd64
      labels:
        node-role.kubernetes.io/worker: ""
    scaleUp:
      batchSize: 1 # TODO: NOT Implemented yet
      stabilizationWindow: 2m # TODO: NOT Implemented yet
    scaleDown:
      maxConcurrent: 1 # TODO: NOT Implemented yet
      drainTimeout: 10m # TODO: NOT Implemented yet
